{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Welcome to the Company Dashboard, {{ emp_username }}!</h1>
        <a href="/logout" class="btn btn-danger">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </div>
    <div class="mt-4">
        <p class="text-success">You are logged in as <strong>{{ emp_username }}</strong>.</p>

        {% if emp_username == "as400" %}
        <div class="alert alert-info">
            <strong>Congratulations!</strong> Here is your flag: flag[2f4-51mpl3-byp455]
        </div>
        {% endif %}

        {% if emp_username == "albuquerque" %}
        <div class="alert alert-info">
            <strong>Congratulations!</strong> Here is your flag: flag[bru73-f0rc1n6-4-574y-l0663d-1n-c00k13]
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}