{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Customer Portal</h3>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form action="{{ url_for('customer_login') }}" method="post" id="customer-login-form">
                    <div class="form-group mb-3">
                        <label for="emp_username">Username</label>
                        <input type="text" id="emp_username" name="emp_username" class="form-control" required value="{{ emp_username }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="emp_password">Password</label>
                        <input type="password" id="emp_password" name="emp_password" class="form-control" required value="{{ emp_password }}">
                    </div>
                    
                    {% if show_2fa %}
                    <div class="alert alert-success text-center mb-3" role="alert">
                        <strong>Flag:</strong> flag[u53rn4m3-3num3r4710n-v14-r35p0n53-71m1n6]
                    </div>
                    <div class="form-group mb-3">
                        <label for="emp_code">2FA Code</label>
                        <input type="text" id="emp_code" name="emp_code" class="form-control" placeholder="Enter two digit code" required>
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" id="stay_logged_in" name="stay_logged_in" class="form-check-input" value="1">
                        <label class="form-check-label" for="stay_logged_in">Stay logged in</label>
                    </div>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-danger w-100">Login</button>
                </form>
                <div class="text-center mt-3">
                    <small>Need a Customer Account? <a href="{{ url_for('register') }}" class="text-danger">Customer Account Register</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}